
@media (max-height:1020px),(max-width:1330px) {
    .page-mid-img>img {
        width: 550px;
    }
    
    .mid-img-layout img {
        width: 300px;
    }
    
    .page-menu-item.news-item {
        top: 50px;
    }
    
    .menu-item-line {
        width: 220px;
    }
    
    .menu-link.news-link {
        top: 35px;
    }
    
    .page-menu-item.contacts-item {
        top: 285px;
    }
    
    .page-menu-item.services-item {
        top: 479px;
        left: -8px;
        transform: rotate(-52deg);
    }
    
    .page-menu-item.services-item .menu-item-line {
        width: 110px;
    }
    
    .page-menu-item.partners-item {
        top: 354px;
        right: -200px;
        transform: rotate(198deg);
    }
    
    .page-menu-item.projects-item {
        top: 104px;
    }
    
    .page-menu-item.production-item {
        left: 162px;
        top: -37px;
    }
    
    
    .menu-link.contacts-link {
        top: 400px;
    }
    
    .menu-link.partners-link {
        top: 405px;
    }
    
    .menu-link.services-link {
        top: 590px;
        left: 64px;
    }
    
    .menu-link.info-link {
        right: 32px;
        top: 20px;
    }
}

@media (max-height:900px),(max-width:1200px) {
    .page-mid-img>img {
        width: 407px;
    }
    
    .menu-link {
        font-size: 18px;
    }
    
    .menu-tiem-circle {
        width: 90px;
        height: 90px;
    }
    
    .page-menu-item .menu-item-line {
        width: 170px;
    }
    
    .page-menu-item.news-item {
        top: 40px;
        left: -196px;
    }
    
    .page-menu-item.contacts-item {
        top: 224px;
        left: -207px;
    }
    
    .page-menu-item.services-item {
        top: 320px;
        transform: rotate(-50deg);
    }
    
    .page-menu-item.partners-item {
        top: 279px;
        right: -170px;
    }
    
    .mid-img-layout img {
        width: 200px;
    }
    
    .menu-link.info-link {
        right: -5px;
        top: 42px;
    }
    
    .menu-link.info-link img {
        width: 40px;
        height: 40px;
    }
    
    .page-social-container {
        padding: 10px 32px;
        width: 140px;
        height: 50px;
        top: calc(100vh - 50px);
        border-radius: 20px 20px 0 0;
    }
    
    .page-social-container .social-item {
        width: 30px;
        height: 30px;
    }
    
    .page-social-container .social-item img {
        width: 18px;
        height: 18px;
    }
    
    .page-social-container .social-item:nth-child(2) img {
        width: 11px;
        align-self: flex-start;
        margin-left: 5px;
    }
    
    .menu-link.news-link {
        left: -169px;
        top: 25px;
    }
    
    .menu-link.contacts-link {
        top: 327px;
        left: -175px;
    }
    
    .menu-link.services-link {
        top: 413px;
    }
    
    .menu-link.production-link {
        left: 307px;
        top: -120px;
    }
    
    .menu-link.partners-link {
        top: 329px;
        right: -270px;
    }

    

    .menu-link:hover {
        font-size: 20px;
    }

    .menu-link.info-link:hover img {
        width: 43px;
        height: 43px;
    }

    .page-logo {
        padding: 40px;
    }
    
    .logo-text {
        font-size: 22px;
    }
    
    
    .main-page-layer img:first-child {
        width: 269px;
        left: -50px;
    }
    
    .main-page-layer img:last-child {
        width: 269px;
        right: -50px;
    }


}

@media (max-width:1300px){
    .main-page-layer img:first-child {
        width: 269px;
        left: -50px;
    }
    
    .main-page-layer img:last-child {
        width: 269px;
        right: -50px;
    }

    .page-social-container {
        padding: 10px 32px;
        width: 140px;
        height: 50px;
        top: calc(100vh - 50px);
        border-radius: 20px 20px 0 0;
    }
    
    .page-social-container .social-item {
        width: 30px;
        height: 30px;
    }
    
    .page-social-container .social-item img {
        width: 18px;
        height: 18px;
    }
    
    .page-social-container .social-item:nth-child(2) img {
        width: 11px;
        align-self: flex-start;
        margin-left: 5px;
    }
}

@media (max-height:700px){
    .page-content-container {
        height: calc(100vh - 200px);
    }
    
    .page-menu-item.news-item {
        top: -40px;
        left: -32px;
        transform: rotate(45deg);
    }
    
    .page-menu-item.contacts-item {
        top: 2;
    }
    
    .page-menu-item.contacts-item {
        top: 109px;
        transform: rotate(-5deg);
        left: -129px;
    }
    
    .page-menu-item.services-item {
        top: 259px;
        left: -91px;
        transform: rotate(-25deg);
    }
    
    .page-menu-item .menu-item-line {
        width: 90px;
    }
    
    .menu-tiem-circle {
        width: 70px;
        height: 70px;
    }
    
    .page-menu-item.partners-item {
        right: -101px;
    }
    
    .page-menu-item.projects-item {
        right: -132px;
    }
    
    .page-menu-item.production-item .menu-item-line {
        width: 100px;
    }
    
    .page-menu-item.production-item {
        top: -50px;
        transform: rotate(101deg);
    }
    
    .menu-link.news-link {
        top: -55px;
        left: -8px;
    }
    
    .menu-link {
        font-size: 16px;
    }
    
    .menu-link.contacts-link {
        left: -119px;
        top: 154px;
    }
    
    .menu-link.services-link {
        top: 325px;
        left: -91px;
    }
    
    .menu-link.partners-link {
        right: -170px;
    }
    
    .menu-link.production-link {
        top: -80px;
        left: 243px;
    }
    .menu-link.info-link {
        top: 10px;
        right: 22px;
    }

    .all-pages-menu-container {
        padding-top: 20px;
    }
    
    .all-top-bar {
        padding: 15px 0;
    }
    
    .contact-info-container {
        padding-left: 35px;
    }
}

@media (max-width:1325px){
.content{
    width: 800px;
}
.all-pages-menu{
    width: 800px;
    font-size: 12px;
    padding: 7px;
}
.project-item img {
    width: 65%;
}
.service-item {
    padding: 0 5%;
    font-size: 16px;
}

.service-item .item-icon {
    width: 90px;
    height: 90px;
}

.service-items-left .service-item {
    padding-right: 15%;
}
}

@media (max-height:940px){
    .service-item .item-icon {
        width: 70px;
        height: 70px;
        
    }
    .service-item {
        font-size: 16px;
    }
}

@media (max-height:620px){
    .service-item .item-icon {
        width: 50px;
        height: 50px;
    }
}

@media (max-width:1023px){
    .social-mob-pages{
        display: none;
    }
    .page-social-container {
        right: calc(50% - 70px);
    }
    .burger-btn{
        display: block;
    }
    .page-menu-items-container {
        display: none;
    }
    
    .page-mid-img .planet-img {width: 100%;}
    
    
    .page-content-container {
        padding: 0;
    }

    .page-logo {
        padding: 0;
    }
    
    .main-page-top-bar {
        padding: 1vh 5%;
    }
    
    .change-lang-container {
        padding: 0;
    }
    
    .logo-img img {
        width: 120px;
    }
    
    .burger-btn{
        width: 30px;
        height: 22px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .change-lang-container img {
        width: 30px;
    }
    
    .page-content-container {
        height: calc(100% - 150px);
    }
    
    .mid-img-layout img {
        width: 60%;
    }

    .main-page-layer img:first-child {
        bottom: 7vh;
        width: 200px;
    }
    
    .main-page-layer img:nth-child(2) {
        margin: auto;
    }
    
    .main-page-layer img:last-child {
        top: 7vh;
        width: 200px;
    }

    .content {
        width: 70vw;
    }
    
    .all-pages-menu-container {
        display: none;
    }
    
    .content-container {
        bottom: 0;
    }
    
    .all-pages-content-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }

    .content-page-layout {
        padding: 0;
    }
    .social-top{
        display: none;
    }
    .page-main-content {
        width: 50vw;
        min-width: 270px;
    }

    .all-top-bar {
        display: none;
    }
    .mob-top-bar{
        display: flex;
    }
    
.burger-menu-container {
    position: fixed;
    top: 50px;
    background: white;
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 20px 20px 0 0;
    z-index: 9999;
    padding: 24px 5px;
    display: none;
  }

  .burger-menu-container nav {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .burger-menu-container li {
    list-style: none;
    background-color: #244059;
    color: white;
    margin-bottom: 2.4vh;
    font-size: 18px;
    padding: 7px 16px;
    border-radius: 50px;
    border: 1px dashed white;
    text-align: center;
    user-select: none;
  }
  .burger-menu-container ul {
    margin: 0;
    padding: 0;
  }



  .active-btn{
    background-image: url(../img/close-btn.svg);
}


.burger-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    border-radius: 5px;
    transition:all .4s ease;
  }
  .burger-line.bot-line {
    margin-bottom: 0;
  }

  .rot-1{
    
      transform: rotate(-45deg);
      position: absolute;
      margin: 0;
  }
  .rot-2{
    transform: rotate(45deg);
      position: absolute;
      margin: 0;
  }
  .dn{
      opacity: 0;
      position: absolute;
      bottom:0;
  }
  .burger-line.mid-line{
      transition: .1s linear;
  }
  .mobile-menu-item-active {
    background-color: #f0f0f0!important;
    color: #244059!important;
  }
}


@media(max-width:760px){
    .services-container {
        overflow: auto;
    }
    
   
  
    .services-container {
        flex-direction: column;
        justify-content: normal;
        padding: 30px 0;
    }
    
    .service-items-left, .service-items-right {
        width: 80%;
    }
    
    .service-items-right .service-item {
        justify-content: normal;
    }
    
    .service-items-right .item-icon {
        right: -35px;
        left: unset;
    }
    
    .services-container .service-item {
        height: calc(85vh / 10);
    }
    
    .service-items-left, .service-items-right {
        height: calc(85vh - 30px);
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    
    
   .news-page .control-btn img {
        width: 15px;
    }
.news-image {
    height: 85vh;
  }
  .swiper-slide {
    height: 85vh;
  }
  .content-container {
    top: -37.5vh;
  }
 
  .content {
    height: 85vh;
  }
  .slide-content {
    height: 85vh;
  }
  
  .news-image {
    background-size: cover;
    background-position: 50%;
  }
  .slide-layout {
    padding: 10px 20px 55px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.post-name {
    font-size: 18px;
    margin-bottom: 8px;
}

.post-info {
    text-align: center;
}

.post-date {
    margin-bottom: 25px;
}
.news-page .swiper-pagination {
    height: 15px;
}

.popup-title {
    font-size: 20px;
    max-width: 100%;
    padding-top: 40px;
}



.post-image-text {
    flex-direction: column;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popup-close-btn {
    top: 27px;
    right: 30px;
}

.popup-box {
    border-radius: 25px;
    overflow: hidden;
}
  .projects-container {
    height: 85vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .project-item {
    width: 100%;
    height: 21.25vh;
  }
  .content-title {
      display: none;
}
.swiper-slide {
    width: 100% !important;
  }

  
  .project-item img {
    width: 30%;
        }
  .projects-container {
    padding: 0 18px;
  }
  .project-item {
    border-right: 0;
    border-left: 0;
  }

  .projects-page .prev-btn-container {
    top: 20px;
    bottom: unset;
    left: calc(50% - 25px);
    z-index: 65;
    width: 50px;
}
.projects-page .next-btn-container {
    bottom: 20px;
    top: unset;
    left: calc(50% - 25px);
    z-index: 65;
    width: 50px;
}
.up-btn{
    display: none;
}
.dn-pc-control{
    display: none;
}
.news-page .swiper-slide {
    height: calc(85vh - 48px);
}
.swiper-container.slider-1 {
    padding-top: 25px;
    height: 100%;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.news-page .swiper-pagination {
    top: 0;
}
.news-image {
    height: calc(85vh - 25px);
}
.news-page .next-btn-container.control-btn {
    left: calc(72vw );
    right: unset;
}

.news-page .prev-btn-container.control-btn {
    right: 72vw;
    left: unset;
    
}
.news-page .control-btn {
    width: 15px;
}

}

@media(min-width:761px){
    .dn-control{
        display: none!important;
    }
}

@media(max-height:660px){
    .page-main-content {
        max-width: 200px;
        margin-top: 50px;
    }
}

@media(max-width:500px){
    .services-container .service-item {
        font-size: 14px;
    }
}